<html>
<head>

{%load staticfiles%}
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
<body >
    <div class="loginbox">

        <h1>{{title}}</h1>

        <form  method="post" action="{% url 'login' %}">
          {%csrf_token%}
            <p>Username</p>
            {{form.username}}
            <p>Password</p>
            {{form.password}}
            <input type="submit" name="submit" value="Login">
            <a href="#" >Lost your password?</a><br>
            <a href="{%url 'register'%}">Don't have an account?</a>
        
        </form>

    </div>

</body>
</head>
</html>
